/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/bt.h>
#include "keys_fr_swiss.h"
#include "macros.dtsi"
#include "combos.dtsi"
#include "behaviors.dtsi"
#include "definitions.h"

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick-tap-ms = <150>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        alpha_layer {
            // ALPHA
            // -----------------------------------------------------------------------------
            // |  Q  |  C  |  O  |  P  |  W  |   |  J  |  M  |  D  |  F  |  Y  |
            // |  A  |  S  |  E  |  N  |  B  |   |  L  |  R  |  T  |  I  |  U  |
            //       |  X  |  Z  |  V  |               |  H  |  G  |  K  |
            //                  | DEL | BSPC |   | SPC  | ENT |
            // ALTGR
            // -----------------------------------------------------------------------------
            // | ^ D^| < ≤ | > ≥ | $ £ | % ‰ |   | ¨ D¨| = ≠ | * · | ´ D´| ` D`|
            // | { ° | ( “ | ) ” | } € |  #  |   |  \  | + ± | - ¯ | / ÷ | " @ |
            //       | [ « | ] » | ~ D~|               |  |  |  &  |  ¬  |
            //                  | DEL | BSPC |   |  '   | ENT |
            display-name = "Alpha";
            bindings = <
                &kp_q         &dk_c ACC_L 0 &kp_o         &kp_p         &kp_w            &kp_j           &kp_m        &kp_d         &dk_f ACC_L 0 &kp_y
                &md_a LSHFT 0 &md_s LGUI 0  &md_e LCTRL 0 &md_n LALT 0  &kp_b            &kp_l           &md_r LALT 0 &md_t LCTRL 0 &md_i LGUI 0  &md_u LSHFT 0
                              &kp_x         &kp_z         &kp_v                                          &kp_h        &kp_g         &kp_k
                                                          &lt MSE_L DEL &mt RALT BSPC    &lt_spc NAV_L 0 &lt FUN_L RET
            >;
        };

        accent_layer {
            // ACC
            // -----------------------------------------------------------------------------
            // | â Â | ç Ç | œ Œ | ô Ô | --- |   | ? ¿ |  µ  | _ – | --- | û Û |
            // | à À | é É | è È | ê Ê | ñ Ñ |   | --- | ! ¡ | î Î | ï Ï | ù Ù |
            //       | ß ẞ | æ Æ | --- |               |  …  | --- | · • |
            //                  | DEL | BSPC |   | SPC  | ENT |
            display-name = "Acc";
            bindings = <
                &sh_acar         &sh_cced        &kp CH_EOE       &sh_ocar        &none       &sh_qmark   &kp CH_MU       &sh_under        &trans           &sh_ucar
                &mt_agrv LSHFT 0 &mt_eacu LGUI 0 &mt_egrv LCTRL 0 &mt_ecar LALT 0 &sh_ntld    &none       &mt_excl LALT 0 &mt_icar LCTRL 0 &mt_iumlt LGUI 0 &mt_ugrv LSHFT 0
                                 &kp CH_SHARP_S  &kp CH_ASH       &none                                   &kp CH_ELLIPSIS &none            &sh_mdot
                                                                  &trans          &trans      &trans      &trans
            >;
        };

        navigation_layer {
            // NAVIGATION + NUMBER
            // -----------------------------------------------------------------------------
            // |HOME |SCR-U| UP  |SCR-D|PG-UP|   | Δ Σ | 7 = | 8 * | 9 ∞ | . , |
            // | END |LEFT |DOWN |RIGHT|PG-DW|   | π Π | 4 + | 5 - | 6 / | 0   |
            //       |SCR-L| --- |SCR-R|               | 1 ƒ | 2 √ | 3 ∫ |
            //                  | DEL | BSPC |   | SPC  | ENT |
            display-name = "Nav";
            bindings = <
                &kp HOME &msc SCRL_UP   &kp UP   &msc SCRL_DOWN   &kp PG_UP      &sh_delta &sh_seven       &sh_eight        &sh_nine       &sh_dot
                &kp END  &kp LEFT       &kp DOWN &kp RIGHT        &kp PG_DN      &sh_pi    &mt_four LALT 0 &mt_five LCTRL 0 &mt_six LGUI 0 &mt_zero LSHFT 0
                         &msc SCRL_LEFT &none    &msc SCRL_RIGHT                           &sh_one         &sh_two          &sh_three
                                                 &trans           &trans         &trans    &trans
            >;
        };

        mouse_layer {
            // MOUSE
            // -----------------------------------------------------------------------------
            // | --- |SCR-U|MSE-U|SCR-D|PG-UP|   | --- | --- | --- | --- | --- |
            // | --- |MSE-L|MSE-D|MSE-R|PG-DW|   | --- | MS1 | MS2 | MS3 | --- |
            //       |SCR-L| --- |SCR-R|               | MS4 | MS5 | --- |
            //                  | DEL | BSPC |   | SPC  | ENT |
            display-name = "Mse";
            bindings = <
                &kp HOME      &msc SCRL_UP   &mmv MOVE_UP   &msc SCRL_DOWN  &kp PG_UP    &none &none     &none     &none     &none
                &mt LSHFT END &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &kp PG_DN    &none &mkp LCLK &mkp RCLK &mkp MCLK &none
                              &msc SCRL_LEFT &none          &msc SCRL_RIGHT                    &mkp MB4  &mkp MB5  &none
                                                            &none           &none        &none &none
            >;
        };

        function_layer {
            // FUNCTION
            // -----------------------------------------------------------------------------
            // | F9  | F10 | F11 | F12 | --- |   |BTCLRA|BT-3 |BT-4 | --- | --- |
            // | F5  | F6  | F7  | F8  | F4  |   |BTCLR | ALT |CTRL | GUI | SHFT |
            //       | F1  | F2  | F3  |                |BT-0 |BT-1 |BT-2 |
            //                  | DEL | BSPC |   | SPC   | ENT |
            display-name = "Fun";
            bindings = <
                &kp F9 &kp F10 &kp F11 &kp F12 &none      &bt BT_CLR_ALL &bt BT_SEL 3 &bt BT_SEL 4 &none        &none
                &kp F5 &kp F6  &kp F7  &kp F8  &kp F4     &bt BT_CLR     &kp LALT     &kp LCTRL    &kp LGUI     &kp LSHFT
                       &kp F1  &kp F2  &kp F3                            &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2
                                       &trans  &trans     &trans         &trans
            >;
        };
    };
};
